.ngoaicung {
    margin:auto;
    padding: 35px;
    width: 350px;
    background-color:green;   
    height:250px;
}
.trong {
    margin: auto;
    padding: 35px;
    width: 230px;
    background-color:aliceblue;
    height:175px;
}
.trongcung {
    margin: auto;
    padding: 35px;
    width: 110px;
    background-color:rgb(146, 142, 136);
    height:100px;
}
p {
    margin: auto;
    text-align: center;
}